.modal-body{
    padding: 0px !important;
    overflow-y: hidden !important;
}
.container-fluid{
    padding: 0% !important;
}
.modal-footer{
    padding:  5px !important;
}
#stationModal{
    max-height: 600px !important;
}
.add-station{
    border: 1px solid black !important;
    margin-bottom: 20px !important;
}