<!-- Topbar Start -->
<div class="topbar-custom">
  <div class="container-fluid">
    <div class="d-flex justify-content-between">
      <ul class="list-unstyled topnav-menu mb-0 d-flex align-items-center">
        <li>
          <button (click)="onToggleSidebar()" class="button-toggle-menu nav-link">
            <i data-feather="menu" class="noti-icon"></i>
          </button>
        </li>
        <li class="d-none d-lg-block">
        </li>
      </ul>

      <ul class="list-unstyled topnav-menu mb-0 d-flex align-items-center">
        <li class="d-none d-sm-flex">
          <button (click)="openFullscreen()" type="button" class="btn nav-link" data-toggle="fullscreen">
            <i class="align-middle fullscreen noti-icon"
              [attr.data-feather]="isFullscreen ? 'minimize' : 'maximize'"></i>
          </button>
        </li>

        <li class="dropdown notification-list topbar-dropdown" ngbDropdown>
          <a class="nav-link dropdown-toggle nav-user me-0" ngbDropdownToggle data-bs-toggle="dropdown"
            href="javascript:void(0);" role="button" aria-haspopup="false" aria-expanded="false">
            <img src="assets/images/users/user-5.jpg" alt="user-image" class="rounded-circle" />
            <span class="pro-user-name ms-1">
              John Smith <i class="mdi mdi-chevron-down"></i>
            </span>
          </a>
          <div class="dropdown-menu dropdown-menu-end profile-dropdown" ngbDropdownMenu>
            <!-- item-->
            <div class="dropdown-header noti-title">
              <h6 class="text-overflow m-0">Welcome !</h6>
            </div>

            <!-- item-->
            <a routerLink="/pages/profile" class="dropdown-item notify-item">
              <i class="mdi mdi-account-circle-outline fs-16 align-middle"></i>
              <span>My Account</span>
            </a>

            <!-- item-->
            <a routerLink="/auth/lock-screen" class="dropdown-item notify-item">
              <i class="mdi mdi-lock-outline fs-16 align-middle"></i>
              <span>Lock Screen</span>
            </a>

            <div class="dropdown-divider"></div>

            <!-- item-->

          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- end Topbar -->