<div class="container-fluid program-description-container pt-2">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h4 class="text-secondary">Pumps</h4>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item">
                    <a routerLink="/programs" class="text-decoration-none cursor-pointer">Programs</a>
                </li>
                <li class="breadcrumb-item">
                    <a routerLink="/programs/program-description" class="text-decoration-none cursor-pointer">
                        {{ program?.name }}
                    </a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Pumps</li>
            </ol>
        </nav>
    </div>



</div>