<div class="card overflow-hidden">
  <div class="card-header">
    <div class="d-flex align-items-center">
      <h5 class="card-title text-black mb-0">Visit by Device</h5>
    </div>
  </div>

  <div class="card-body">
    <div
      class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2 position-relative"
    >
      <h3 class="fs-14 mb-0 text-muted">Total Page Visit</h3>
    </div>

    <div class="d-flex align-items-center mt-3">
      <h4 class="fs-24 mb-0 me-2 fw-medium text-black">24,565K</h4>
      <span class="badge bg-primary-subtle text-primary"
        >3.18%
        <i
          data-feather="trending-up"
          class="ms-1"
          style="height: 14px; width: 14px"
        ></i>
      </span>
    </div>

    <hr class="border my-3" />

    <div class="row">
      <div
        class="col-md-4 col-xl-4 flex-wrap align-items-center justify-content-between gap-2"
      >
        <div class="visit-device mt-2">
          <div class="">
            <h4 class="fs-15 text-muted mb-1">Mobile</h4>
            <p class="fs-24 text-black mb-0">78%</p>
            <p
              class="text-primary fw-medium mb-0 mt-md-5 mt-3 mb-0 d-flex align-items-center gap-2"
            >
              3.75%
              <i
                data-feather="trending-up"
                class="me-1"
                style="height: 18px; width: 18px"
              ></i>
            </p>
            <div class="progress progress-md mt-2">
              <div class="progress-bar bg-primary" style="width: 78%"></div>
            </div>
          </div>
        </div>
      </div>

      <div
        class="col-md-4 col-xl-4 flex-wrap align-items-center justify-content-between gap-2"
      >
        <div
          class="visit-device border-start border-dashed border-1 mt-3 mt-md-2"
        >
          <div class="ms-md-3">
            <h4 class="fs-15 text-muted mb-1">Tablet</h4>
            <p class="fs-24 text-black mb-0">12%</p>
            <p
              class="text-danger fw-medium mb-0 mt-md-5 mt-3 mb-0 d-flex align-items-center gap-2"
            >
              1.98%
              <i
                data-feather="trending-down"
                class="me-1"
                style="height: 18px; width: 18px"
              ></i>
            </p>
            <div class="progress progress-md mt-2">
              <div class="progress-bar bg-danger" style="width: 56%"></div>
            </div>
          </div>
        </div>
      </div>

      <div
        class="col-md-4 col-xl-4 flex-wrap align-items-center justify-content-between gap-2"
      >
        <div
          class="visit-device border-start border-dashed border-1 mt-3 mt-md-2"
        >
          <div class="ms-md-3">
            <h4 class="fs-15 text-muted mb-1">Web</h4>
            <p class="fs-24 text-black mb-0">10%</p>
            <p
              class="text-danger fw-medium mb-0 mt-md-5 mt-3 mb-0 d-flex align-items-center gap-2"
            >
              1.77%
              <i
                data-feather="trending-down"
                class="me-1"
                style="height: 18px; width: 18px"
              ></i>
            </p>
            <div class="progress progress-md mt-2">
              <div class="progress-bar bg-danger" style="width: 37%"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p class="m-0 fs-14 fst-italic text-muted mb-0 mt-2 pt-1">
      Last data updated - 13min ago
      <a href="#!" class="link-danger ms-1"
        ><i class="align-middle mdi mdi-refresh"></i
      ></a>
    </p>
  </div>
</div>
