<div class="container-fluid alerts-container pt-2">
  <h2 class="mb-3 text-secondary">System Status</h2>

  <div class="card p-3 shadow-sm card card-container">
    <div class="d-flex justify-content-between align-items-center my-2">
      <h5 class="mb-0 fw-bold">Device Details</h5>
      <a href="#" class="text-primary text-decoration-none fw-medium">Update</a>
    </div>
    <div *ngFor="let section of sensorSections" class="mb-1">
      <ng-container *ngIf="getVisibleItemsBySection(section.key).length > 0">
        <small class="text-muted my-1" style="font-size: 1rem;">{{ section.label }}</small>

        <div *ngFor="let item of getVisibleItemsBySection(section.key)"
          class="d-flex justify-content-between py-2 ">
          <span class="fw-medium">{{ item.name }}</span>
          <span [ngStyle]="{ color: severityColors[item.severity] || 'black' }">
            {{ item.value }} {{ item.units }}
          </span>
        </div>
      </ng-container>
    </div>
  </div>
</div>