.label {
    font-size: 22px !important;
    font-weight: 600 !important;
    color: rgba(50, 47, 55, 0.4) !important;
}

.value {
    font-weight: 600 !important;
    color: rgba(50, 47, 55, 0.4) !important;
    font-size: 22px !important
}

.sensor-name {
    font-size: 22px !important
}


.pdf-icon {
    width: 73px;
    height: 84px;
}

.file-item {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px;
    border-radius: 6px;
    justify-content: center;
    width: 50%;
}

.file-name {
    font-weight: 600;
    color: #007cb9 !important;
    font-size: 20px;
}

.files {
    font-size: 22px !important;
}