.label {
    font-size: 1.2rem;
    font-weight: 600 !important;
    color: rgba(50, 47, 55, 0.4) !important;
}

.value {
    font-weight: 600 !important;
    color: rgba(50, 47, 55, 0.4) !important;
    font-size: 1.2rem;
}

.sensor-name {
    font-size: 1.2rem;
}