.station-checkbox {
    width: 20px;
    height: 20px;
    appearance: none;
    border: 2px solid #999;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    position: relative;
}

.floating-start-button {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    padding: 10px 20px;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.2);
}

.station-checkbox:checked {
    background-color: #007cb9;
    border-color: #007cb9;
}

.flatpickr-time-format-label {
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    font-weight: 500;
    color: #6c757d;
}

// .modal-header { 
//     background-color: #007cb9;
//     border-color: #007cb9;
//     color: white;
// }
.success-btn {
    background-color: #4CAF50;
    color: white;
}

.error-btn {
    background-color: #CF6679;
    color: white;
}

.picker-wrapper {
    display: flex;
    gap: 8px;
}

.scroll-picker {
    height: 120px;
    width: 60px;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.scroll-picker::-webkit-scrollbar {
    display: none;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.modal-content {
    background: white;
    border-radius: 10px;
    min-width: 280px;
    max-width: 320px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.scroll-picker {
    height: 120px;
    width: 60px;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
}

.scroll-picker::-webkit-scrollbar {
    display: none;
}

.picker-item {
    scroll-snap-align: center;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
}

.picker-item.selected {
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px ;
}

.spacer {
    height: 40px;
}