<div class="container-fluid program-description-container pt-2">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h4 class="text-secondary">Groups</h4>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item">
                    <a routerLink="/programs" class="text-decoration-none cursor-pointer">Programs</a>
                </li>
                <li class="breadcrumb-item">
                    <a [routerLink]="['/programs', slugify(program?.name)]" class="text-decoration-none cursor-pointer">
                        {{ program?.name }}
                    </a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Groups</li>
            </ol>
        </nav>
    </div>
    <div class="card-container">
        <div class="col-auto  mb-3" *ngFor="let group of groupList" (click)="goToGroupDetail(program,group)">
            <div class="card h-100 w-100">
                <div class="card-body d-flex justify-content-between align-items-center">
                    <h5 class="card-title  text-main">Group {{ group.groupNumber }}</h5>
                    <div>
                        <i *ngIf="hasRuntime(group.groupNumber, group)"
                            class="mdi mdi-24px mdi-clock-outline text-main clocks"></i>
                        <i class="mdi mdi-chevron-right fs-4 text-main"></i>
                    </div>

                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center align-items-center px-3 py-2">
            <button
                class="btn  floating-start-button cancel-btn  px-4 py-2 rounded-pill d-inline-flex align-items-center gap-2 fw-semibold button"
                (click)="clearGroups()">
                Clear Group
            </button>
        </div>
    </div>

    <div class="modal fade" id="clearGroupModal" tabindex="-1" aria-labelledby="clearGroupModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="clearGroupModalLabel">Clear Group</h5>
                </div>

                <div class="modal-body">
                    This will clear all group descriptions. Are you sure you want to clear?
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn cancel-btn fw-semibold" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn success-btn fw-semibold"
                        (click)="confirmClearGroups()">Clear</button>
                </div>

            </div>
        </div>
    </div>

</div>