/* You can add global styles to this file, and also import other style files */
@use "../public/assets/scss/app.scss";
@use "../public/assets/scss/icons.scss";
@use '../node_modules/glightbox/dist/css/glightbox.css';
@import "quill/dist/quill.snow.css";
@import "quill/dist/quill.bubble.css";
@import "flatpickr/dist/flatpickr.css";

.card-container {
    height: calc(100vh - 180px);
    overflow: auto;
}


.app-sidebar-menu {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.sidebar-stop-button-container {
    margin-top: auto;
    padding: 1rem;
}

.sidebar-stop-button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    width: 100%;
    font-weight: bold;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.sidebar-stop-button:hover {
    background-color: #e55353;
}

.sidebar-stop-button-container {
    margin-top: auto;
    padding: 1rem;
}

.app-sidebar-menu ngx-simplebar {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#sidebar-menu {
    flex: 1 1 auto;
    display: flex;
    margin-top: 22px;
    flex-direction: column;
    min-height: 0;
}

#side-menu {
    flex: 1 1 auto;
    overflow-y: auto;
}

.sidebar-stop-button-container {
    flex-shrink: 0;
    margin-top: auto;
    padding: 1rem;
}

.sidebar-collapsed .sidebar-stop-button-container {
    display: none !important;
}

body.sidebar-collapsed .sidebar-stop-button-container {
    display: none !important;
}

.success-btn {
    background-color: #4CAF50 !important;
    color: white !important;
}

.primary-btn {
    background-color: #007cb9 !important;
    color: white !important;
}

.error-btn {
    background-color: #CF6679 !important;
    color: white !important;
}

.menu-icon {
    width: 23px;
    height: 23px;
    margin-right: 8px;
    vertical-align: middle;
}


#sidebar-menu>a {
    color: #007cb9;
    display: block;
    padding: 10px 20px;
    position: relative;
    transition: all 0.4s;
    font-size: 16px !important;
    font-weight: 500;
}

.cursor-pointer {
    cursor: pointer;
}

.text-main {
    color: #007cb9 !important;
}

.text-lightBold {
    font-size: 1.08rem;
    font-weight: 600 !important;
    color: rgba(50, 47, 55, 0.4) !important;
}


.common-btn {
    padding: 8px 20px;
    font-weight: 500;
    font-size: 14px;
    border-radius: 6px;
    background-color: transparent;
    border: 1px solid #ccc;
    color: #007cb9;
    cursor: pointer;
    min-width: 80px;
}

.common-btn:hover {
    background-color: #daebf5;
    color: #007cb9;
    transform: translateY(-1px);
}

.common-btn:active {
    transform: translateY(0);
    box-shadow: none;
}

.form-check-input:checked {
    background-color: #007cb9 !important;
    border-color: #007cb9 !important;
}

.modal-header {
    border-bottom: none !important;
}

.modal-footer {
    border-top: none !important;
}

.card{
    border: none !important;
}