/* You can add global styles to this file, and also import other style files */
@use "../public/assets/scss/app.scss";
@use "../public/assets/scss/icons.scss";
@use '../node_modules/glightbox/dist/css/glightbox.css';
@import "quill/dist/quill.snow.css";
@import "quill/dist/quill.bubble.css";
@import "flatpickr/dist/flatpickr.css";

.card-container {
    height: calc(100vh - 190px);
    overflow: auto;
}

.app-sidebar-menu {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.sidebar-stop-button-container {
    margin-top: auto;
    padding: 1rem;
}

.sidebar-stop-button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    width: 100%;
    font-weight: bold;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.sidebar-stop-button:hover {
    background-color: #e55353;
}

.sidebar-stop-button-container {
    margin-top: auto;
    padding: 1rem;
}

.app-sidebar-menu ngx-simplebar {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#sidebar-menu {
    flex: 1 1 auto;
    display: flex;
    margin-top: 22px;
    flex-direction: column;
    min-height: 0;
}

#side-menu {
    flex: 1 1 auto;
    overflow-y: auto;
}

.sidebar-stop-button-container {
    flex-shrink: 0;
    margin-top: auto;
    padding: 1rem;
}

.sidebar-collapsed .sidebar-stop-button-container {
    display: none !important;
}

body.sidebar-collapsed .sidebar-stop-button-container {
    display: none !important;
}

.menu-icon {
    width: 23px;
    height: 23px;
    margin-right: 8px;
    vertical-align: middle;
}

#sidebar-menu>a {
    color: #007cb9;
    display: block;
    padding: 10px 20px;
    position: relative;
    transition: all 0.4s;
    font-size: 16px !important;
    font-weight: 500;
}

.cursor-pointer {
    cursor: pointer;
}

.text-main {
    color: #007cb9 !important;
    font-size: 18px !important;

}

.text-lightBold {
    font-size: 1.08rem;
    font-weight: 600 !important;
    color: rgba(50, 47, 55, 0.4) !important;
}

.form-check-input:checked {
    background-color: #007cb9 !important;
    border-color: #007cb9 !important;
}

.modal-header {
    border-bottom: none !important;
}

.modal-footer {
    border-top: none !important;
}

.card {
    border: none !important;
}

body[data-sidebar="hidden"] .sidebar-stop-button-container {
    display: none !important;
}

.pill-btn {
    border-radius: 20px !important
}

.primary-btn {
    @extend .omp-btn;
    background-color: #007cb9 !important;
    color: white !important;
    border: none;

    &:hover,
    &:active {
        background-color: #007bb9da !important;
    }
}

.success-btn {
    @extend .omp-btn;
    background-color: #4CAF50 !important;
    color: white !important;
    border: none;

    &:hover,
    &:active {
        background-color: #45a049 !important;
    }
}


.success-btn-colr {
    background-color: #4CAF50 !important;
    color: white !important;
    border: none;

    &:hover,
    &:active {
        background-color: #45a049 !important;
    }
}



.error-btn {
    @extend .omp-btn;
    background-color: #CF6679 !important;
    color: white !important;
    border: none;
    transition: background-color 0.2s ease !important;

    &:hover,
    &:active {
        background-color: #cf6679e7 !important;
    }
}

.error-btn-colr {
    background-color: #CF6679 !important;
    color: white !important;
    border: none;
    transition: background-color 0.2s ease !important;

    &:hover,
    &:active {
        background-color: #cf6679e7 !important;
    }
}

.cancel-btn {
    @extend .omp-btn;
    background-color: #dcdee0 !important;
    border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    border: none;
    transition: background-color 0.2s ease !important;

    &:hover,
    &:active {
        background-color: #d4caca !important;
    }

    .btn-light {
        --bs-btn-color: #000;
        --bs-btn-bg: #f8f9fa;
        --bs-btn-border-color: #f8f9fa;
        --bs-btn-hover-color: #000;
        --bs-btn-hover-bg: #d3d4d5;
        --bs-btn-hover-border-color: #c6c7c8;
        --bs-btn-focus-shadow-rgb: 211, 212, 213;
        --bs-btn-active-color: #000;
        --bs-btn-active-bg: #c6c7c8;
        --bs-btn-active-border-color: #babbbc;
        --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        --bs-btn-disabled-color: #000;
        --bs-btn-disabled-bg: #f8f9fa;
        --bs-btn-disabled-border-color: #f8f9fa;
    }
}


.common-btn {
    padding: 8px 20px;
    font-weight: 500;
    font-size: 14px;
    border-radius: 6px;
    background-color: transparent;
    border: 1px solid #ccc;
    color: #007cb9;
    cursor: pointer;
    min-width: 80px;
}

.common-btn:hover {
    background-color: #daebf5;
    color: #007cb9;
    transform: translateY(-1px);
}

.common-btn:active {
    transform: translateY(0);
    box-shadow: none;
}

.omp-btn {
    padding: 10px 24px !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    border-radius: 999px !important;
    display: inline-flex !important;
    align-items: center !important;
    justify-content: center !important;
    gap: 8px;
    min-height: 40px;
    line-height: 1.2;
    text-align: center;
    transition: background-color 0.2s ease, transform 0.1s ease;


}

.modal-body {
    position: relative !important;
    flex: 1 1 auto !important;
    padding-left: 15px !important;
    padding-right: 14px !important;
    padding-bottom: 6px !important;
    padding-top: 0px !important
}

.modal-content[_ngcontent-ng-c1385427292] {
    padding: 4px !important;
}

.modal-content {
    background: white !important;
    border-radius: 10px !important;
    min-width: 280px !important;
    max-width: 382px !important;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2) !important;
}

.floating-start-button {
    position: absolute;
    bottom: 30px;
    z-index: 10;
    padding: 10px 20px;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.2);
}

@media (max-width: 1024px) {
    .content-page {
        margin-left: 250px !important;
    }

    app-sidebar {
        width: 100%;
        height: auto;
        position: absolute;
        z-index: 1100;
    }

    app-topbar {
        left: 0;
    }
}

@media (max-width: 900px) {
    .content-page {
        margin-left: 220px !important;
    }

    .app-sidebar-menu {
        width: 218px !important;
    }

    app-sidebar {
        width: 100%;
        height: auto;
        position: absolute;
        z-index: 1500;
    }

}

@media (max-width: 768px) {
    app-sidebar {
        width: 100%;
        height: auto !important;
        position: absolute !important;
        z-index: 1030 !important;
    }

    app-topbar {
        left: 0;
        z-index: 0 !important;
    }

}


.logo-box {
    position: fixed !important;
    padding: 0 20px !important;
    top: 0 !important;
    transition: all .1s ease-out !important;

    .logo {
        span.logo-lg {
            display: block !important;
        }

        span.logo-sm {
            display: none !important;
        }
    }

    .logo-light {
        display: none !important;
    }
}

#sidebar-menu>ul>li>a {
    font-size: 1.296rem !important;
    font-weight: bold !important;
}

h2 {
    font-size: 2.3rem !important;
}

h5 {
    font-size: 1.5rem !important;
}

.text-muted.pt-1 {
    font-size: 18px !important;
}

h2.text-secondary {
    font-size: 1.75rem !important;
}

h4.text-secondary {
    font-size: 1.70rem !important;
}


.breadcrumb,
.breadcrumb-item,
.breadcrumb-item a {
    font-size: 18px;
}

.watering {
    border-radius: 8px !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2) !important;
    padding-left: 10px !important;
    padding-right: 15px !important;
    font-size: 17px !important;
}

.text-label {
    color: rgb(36, 29, 29) !important;
    font-size: 16px !important;
    font-weight: 400 !important;
}

button,
.btn {
    font-size: 16px !important;
}

.modal-body {
    font-size: 17px !important;
}

.modal-footer .btn {
    font-size: 16px !important;
}


// ......popup zindex and centerd .....
.modal {
    z-index: 20000 !important;
}

.modal-backdrop {
    z-index: 19999 !important;
}

.modal-dialog {
    position: fixed !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    margin: 0 !important;
}


.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    z-index: 9999 !important;
}

.modal-content {
    background: white;
    border-radius: 10px;
    min-width: 280px;
    max-width: 320px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}