<div class="container-fluid alerts-container pt-2">
    <h2 class="mb-2 text-secondary">Stations</h2>
    <div class="floating-button w-100 d-flex justify-content-center gap-3">
        <button class="btn success-button px-4 py-2  d-inline-flex align-items-center gap-2 fw-semibold"
            (click)="startWatering()" *ngIf="hasSelectedStations()">
            <i class="mdi mdi-water mdi-18px"></i> Start Watering
        </button>
        <button *ngIf="selectedStations?.length"
            class="btn error-button px-4 py-2  d-inline-flex align-items-center gap-2 fw-semibold"
            (click)="stopWatering()">
            <i class="mdi mdi-stop mdi-18px"></i> Stop
        </button>
    </div>


    <div class="d-flex justify-content-between align-items-center pb-2">
        <div class="text-muted pt-1">
            {{ getSelectedCount() }} selected
        </div>
        <div class="form-check mx-2">
            <label class="form-check-label pt-1" for="selectAll">Select All</label>
            <input type="checkbox" class="form-check-input station-checkbox mx-1" id="selectAll"
                [checked]="areAllSelected()" (change)="toggleSelectAll($event.target.checked)" />
        </div>
    </div>
    <div class="card-container">
        <div class="program-card p-3 rounded shadow-sm bg-white mb-3 d-flex justify-content-between align-items-center"
            *ngFor="let station of stations; let i = index">
            <div>
                <div class="fw-bold text-primary">
                    {{ i + 1 }} {{ station.name }}
                </div>
                <div class="small text-label">
                    Status: {{ station.status }}
                </div>
            </div>

            <div>
                <input type="checkbox" [(ngModel)]="station.selected" class="form-check-input station-checkbox" />
            </div>
        </div>
    </div>
</div>