.big-alert-card {
  max-height: 72vh;
  overflow-y: auto;
  scrollbar-width: thin;
}

.big-alert-card::-webkit-scrollbar {
  width: 8px;
}

.station-checkbox {
  width: 20px;
  height: 20px;
  appearance: none;
  border: 2px solid #999;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  position: relative;
}

.station-checkbox:checked {
  background-color: #007bff;
  border-color: #007bff;
}

.station-checkbox:checked::after {
  color: white;
  font-size: 14px;
  position: absolute;
  top: 0;
  left: 4px;
  line-height: 20px;
}

.text-label {
  color: rgb(36, 29, 29) !important;
  font-weight: 400;
}

.station-name {
  font-size: 16px;
}

.station-status {
  font-size: 14px;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
}

.floating-button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  padding: 10px 20px;
  border-radius: 6px;
}

.success-btn {
  background-color: #4CAF50;
  color: white;
}

.error-btn {
  background-color: #e55353;
  color: white;
}